<h1>Please enter your mail to login</h1>
<%= text_field_tag :email %>
<%= link_to "Sign in", staff_login_path, class:"btn btn-primary"%>

    <!-- <%= link_to "Sign in now!", "/auth/google_oauth2" , id: "sign_in", class: "btn btn-lg btn-primary" %> -->
