<tr width=80%>
  <td width=60%>
    <%= link_to poll.content, poll %>
  </td>
  <td width=40%>
    <% author = Staff.find(poll.staff_id)%>
    <%= link_to author.name, author%>
  </td>
  <br />
</tr>
