<td width=60%>
  <%= link_to poll.content, poll %>
</td>
<td width=30%>
  <% author = Staff.find(poll.staff_id)%>
  <%= link_to author.name, author%>
</td>
<td width=10%>
  <% if current_staff.id == poll.staff_id %>
    <%= link_to "Delete", polls_destroy_path(:poll_id => poll.id) , class: "btn btn-primary" %>
  <% end %>
</td>
