<% provide(:title, 'All Poll') %>
<h1>All Poll</h1>
  <% if current_staff%>
    <%= will_paginate%>
    <ul class="polls">
      <%= render @polls %>
    </ul>
    <%= will_paginate%>
	<% else %>
  	<%= link_to "Sign in now!", "/auth/google_oauth2" , id: "sign_in", class: "btn btn-lg btn-primary" %>
  <% end %>
